.burger__menu {
    display: none;
}
.burger__container {
    position: fixed;
    top: 74px;
    left: 0;
    z-index: 20;
    background-color: var(--silver-color);
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: auto;
    padding: 20px 15px 40px 15px;
}
.burger__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}
.burger__nav {
}
.burger__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}
.burger__item {
}
.burger__link {
    font-size: 20px;
    color: var(--title-color);
    &:hover{
        color: var(--button-color);
        text-decoration: underline;
    }
}
.burger__list-button {
    display: none;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}
.burger__item-button {
}
.burger__button-white {
}
.burger__button-orange {
    padding: 9px 21px;
}
.active__burger {
    display: block;
 }
@media screen and (max-width: 379.98px) {
    .burger__list-button {
        display: flex;
    }
}
