.favorite {
    position: relative;
    background-color: #F5F5F2;
    &::after {
        position: absolute;
        bottom: 0px;
        left: 0px;
        content: "";
        display: block;
        background-image: url('../icon/corner-top.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 135px;
        height: 135px;
        transform: rotate(-90deg);
    }
    &::before {
        position: absolute;
        top: 0px;
        right: 0px;
        content: "";
        display: block;
        background-image: url('../icon/corner-bottom.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 135px;
        height: 135px;
        transform: rotate(-90deg);
    }
}
.favorite__container {
    padding-top: 125px;
    padding-bottom: 160px;
}
.favorite__title-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.favorite__label {
    width: 92px;
    margin-bottom: 20px;
}
.favorite__title {
    margin-bottom: 80px;
}
.favorite__list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    margin-bottom: 80px;
}
.favorite__item {
    width: 395px;
    overflow: hidden;
    background-color: var(--white-color);
    border: 1px solid var(--silver-color);
    border-radius: 12px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
    transition: box-shadow 350ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
        box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.5);
    }
}
.favorite__img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    transition:  transform 350ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover{
        transform: scale(1.05);
    }
}
.favorite__thumb {
    padding: 24px;
}
.favorite__item-title {
    color: var(--title-color);
    font-size: 24px;
    font-weight: 700;
    line-height: 1.4;
}
.favorite__item-subtitle {
    margin-bottom: 16px;
    color: var(--title-color);
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;
}
.favorite__item-text {
    display: flex;
    column-gap: 10px;
    
    margin-bottom: 16px;
    color: #65665C;
    font-size: 16px;
    font-weight: 400;
    &::before {
        content: "";
        display: block;
        background-image: url('../icon/place.svg');
        background-repeat: no-repeat;
        background-position: center;
        width: 16px;
        height: 24px;
    }
}
.favorite__list-icon {
    display: flex;
    column-gap: 26px;
}
.favorite-bathtub {
    display: flex;
    column-gap: 10px;
    &::before {
        content: "";
        display: block;
        background-image: url('../icon/bathtub.svg');
        background-repeat: no-repeat;
        background-position: center;
        width: 16px;
        height: 24px;
    }
}
.favorite-bed {
    display: flex;
    column-gap: 10px;
    &::before {
        content: "";
        display: block;
        background-image: url('../icon/bed.svg');
        background-repeat: no-repeat;
        background-position: center;
        width: 16px;
        height: 24px;
    }
}
.favorite-square {
    display: flex;
    column-gap: 10px;
    &::before {
        content: "";
        display: block;
        background-image: url('../icon/square_foot.svg');
        background-repeat: no-repeat;
        background-position: center;
        width: 16px;
        height: 24px;
    }
}
.favorite__button-wrapper {
    display: flex;
    justify-content: center;
    column-gap: 24px;
}
.favorite__button {
    transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
        color: var(--button-color);
    }
}
.favorite__link {
    color: var(--title-color);
    &:hover {
        text-decoration: underline;
    }
}
@media screen and (max-width: 1299.98px) {
    .favorite__list {
        justify-content: center;
    }
}
@media screen and (max-width: 991.98px) {
    .favorite__title {
        font-size: 30px;
    }
}
@media screen and (max-width: 767.98px) {
    .favorite {
        &::after {
            display: none;
        }
        &::before {
            display: none;
        }
    }
    .favorite__container {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .favorite__title {
       margin-bottom: 20px;
    }
    .favorite__list {
        margin-bottom: 20px;
        row-gap: 15px;
    }
}
@media screen and (max-width: 479.98px) {
    .favorite__thumb {
        padding: 15px;
    }
    .favorite__item-title {
        font-size: 20px;
    }
    .favorite__item-subtitle {
        font-size: 16px;
        margin-bottom: 10px;
    }
    .favorite__item-text {
        margin-bottom: 10px;
    }
    .favorite__button-wrapper {
        flex-direction: column;
        row-gap: 15px;
    }
    .favorite__button {
        min-width: 100%;
    }
}