body {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: var(--general-color);
}
.container {
    max-width: 1280px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.title {
    font-size: 48px;
    font-weight: 700;
    line-height: 1.2;
    color: var(--title-color);
}
.subtitle {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
}
.button-orange {
    color: var(--white-color);
    border-radius: 6px;
    border: 1px solid var(--button-color);
    background: var(--button-color);
    cursor: pointer;
}
.button-white {
    padding: 13px 25px;
    color: var(--title-color);
    border-radius: 6px;
    border: 1px solid var(--silver-color);
    background: var(--white-color);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);    
    cursor: pointer;
}
.label {
    padding: 4px 12px;
    font-size: 14px;
    color: var(--title-color);
    border-radius: 32px;
    background: var(--silver-color);
}
.properties {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
    &::after {
        content: "";
        display: block;
        background-image: url('../icon/arrow-bottom.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 20px;
        height: 10px;
    }
}