.location {
    background-color: #F5F5F2;
}
.location__container {
    padding-bottom: 358px;
}
.location__wrapper-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.location__title {
    margin-bottom: 25px;
}
.location__subtitle {
    max-width: 713px;
}
.location__list {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    margin-top: 80px;
    margin-bottom: 80px;
}
.location__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 406px;
    padding: 33px;
    background-color: var(--white-color);
    border-radius: 16px;
    border: 1px solid var(--silver-color);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
    transition: box-shadow 350ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
        box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.5);
    }
}
.location__item-title {
    margin-bottom: 12px;
    color: var(--title-color);
}
.location__link {
    color: var(--title-color);
    &:hover {
        text-decoration: underline;
    }
}
.location__button-wrapper {
    display: flex;
    justify-content: center;
    column-gap: 24px;
}
.location__button {
    transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
        color: var(--button-color);
    }
}
@media screen and (max-width: 1299.98px) {
    .location__list {
        justify-content: center;
    }
}
@media screen and (max-width: 991.98px) {
    .location__title {
        font-size: 30px;
    }
    .location__item {
        width: 250px;
    }
}
@media screen and (max-width: 767.98px) {
    .location {
        &::after {
            display: none;
        }
        &::before {
            display: none;
        }
    }
    .location__container {
        padding-bottom: 260px;
    }
    .location__title {
       margin-bottom: 20px;
    }
    .location__list {
        margin-bottom: 20px;
        margin-top: 20px;
        row-gap: 15px;
    }
    .location__item {
        padding: 15px;
    }
}
@media screen and (max-width: 549.98px) {
    .location__item {
        width: 200px;
    }
}
@media screen and (max-width: 479.98px) {
    .location__button-wrapper {
        flex-direction: column;
        row-gap: 15px;
    }
    .location__button {
        min-width: 100%;
    }
}