:root {
    --button-color: #CF6F49;
    --title-color: #2A2C1F;
    --general-color: #65665C;
    --silver-color: #E7E8E3;
    --white-color: #fff;
    --icon-border: #FAE8E1;
    --big-icon-color: #737680;
}